* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* style navbar start */

.container-navbar {
  background-color: #028090;
}

.navbar-brand {
  color: #fffff0;
}

.nav-link {
  color: #fffff0;
}

/* style navbar end */

/* style about me start */

.container-about-me {
  color: #fffff0;
  background-image: url("./images/bass_guitars_two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.my-image {
  width: 25%;
  height: 25%;
  border-style: solid;
  border-color: #028090;
}

.hr {
  border: 1.5px solid;
  color: #fffff0;
}

.text-background {
  background-color: #028090;
}

/* style about me end */

/* style my projects start */

.my-projects {
  background-color: #fffff0;
  color: #028090;
}

.map-projects {
  display: flex;
}

/* style my projects end */

/* style project card start */

.card-img-top {
  width: 100% !important;
  height: 40% !important;
  border-style: solid;
  border-width: 6px;
  border-color: #028090;
}

.card-body {
  color: #fffff0;
  background-color: #028090;
  height: 15rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  border-style: solid;
  border-width: 6px;
  border-color: #028090;
}

.my-projects-card {
  width: 20rem;
  margin: 30px;
}

.git-hub-icon {
  color: #fffff0;
  font-size: 22px;
}

/* style project card end */

/* style socials start */

.designed {
  color: #fffff0;
}

.container-socials {
  background-color: #028090;
  padding: 20px;
}

.contact-icon {
  color: #fffff0;
}

/* style socials end */

/* media queries start */

/* small screens start */

/* small screens end */

/* medium screens start */

@media screen and (max-width: 768px) {
  .my-image {
    width: 70%;
  }

  .navbar-toggler {
    padding: 0;
  }

  .map-projects {
    display: block;
  }
}

@media screen and (max-width: 740px) {
  .navbar-brand {
    margin: 0;
  }
}

/* medium screens end */

/* media queries end */
